---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home";
---
<BaseLayout pageTitle={pageTitle}>
  <ul>
    <li><a href="/posts/post-1/">Exception Filters in ASP.NET Core</a></li>
    <li><a href="/posts/post-2/">URL Extension Methods in ASP.NET Core</a></li>
  </ul>
</BaseLayout>
